body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "1 h" "2 h" "3 h" "4 4";
    background-color: #89CFF3;
}

h1, h4 {
    text-align: center;
    background-color: #F5F0BB;
}

.imagenes {
    height: 200px;
    width: 200px;
    margin: 0 auto; 
    display: block; 
}

p {
    text-align: center;
    background-color: #B3C890 ;
}

.texto1 {
    grid-area: 1;
}

.texto2 {
    grid-area: 2;
}

.texto3 {
    grid-area: 3;
}

.texto4 {
    grid-area: 4;
}

header {
    grid-area: h;
}

footer {
    text-align: center;
    background-color: #41644A;
}

nav a {
    font-weight: 600;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}

nav li:hover {
    background-color: #41644A;
}

nav ul {
    align-items: center;
    list-style: none;
    margin-right: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #80BCBD;
}

nav li {
    text-align: center;
    height: 100px;
    padding: 25px;
}


