
/*Index*/

body{
    background-color: #be7c7c;
}

header {
    background-color: #bb4747; 
    padding: 20px; 
}

h1 i{
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center; 
    background-color:  #ff1e00; 
    border-radius: 5px; 
    padding: 10px; 
    display: flex; 
    justify-content: space-around; 
}

/* Estilos para los elementos de la lista */
li {
    margin: 10px; 
    display: inline; 
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color:  #ff1e00;
    padding: 8px 16px; 
    border: 2px solid  #ff1e00; 
    border-radius: 5px; 
}

/* Estilos para los enlaces cuando se pasa el ratón por encima */
a:hover {
    text-decoration: underline;
    background-color: #ff1e00; 
    color:  #131111; 
}

article aside{
    background-color: #bb4747;
}

/*Diseño de imagenes*/

.contenedor-imagen-futbol {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 300px; 
  }

  .contenedor-imagen-futbol img {
    width: 45%; 
    border-radius: 20px; 
  }

  .contenedor-imagen-futbol img {
    max-width: 100%; 
    max-height: 100%; 
  }

.contenedor-imagen {
    display: flex;
    justify-content: space-between; 
    margin: 10px; 
  }

  .contenedor-imagen img {
    width: 45%;
    border-radius: 20px; 
  }

/*---------------------------------------------------------------------------------------------------*/

/*Hoja de futbol_1, LOS MEJORES FUTBOLISTAS*/

h2{
    display: flex;
    justify-content: center;
    background-color: #bb4747;
}

/*diseño de fotos*/

.fotos-texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; 
  }

  .fotos-texto > div {
    flex: 1;
    text-align: center;
  }

  .fotos-texto img {
    max-width: 100%;
    border-radius: 10px; /* Borde redondo */
  }

  .fotos-texto p {
    background-color:#bb4747; /* Color de fondo para los párrafos */
    border-radius: 10px; /* Borde redondo */
    padding: 5px; /* Espacio alrededor del texto */
  }

/*--------------------------------------------------------------------------*/

/*Hoja de futbo_2, Goleadores Historicos*/

.diseño-nomb-fotos {
    display: grid;
    grid-template-columns: max-content max-content; 
    gap: 10px; 
    align-items: center; 
  }

  .diseño-nomb-fotos img {
    max-width: 100%;
    border-radius: 10px; 
  }

  .diseño-nomb-fotos p {
    margin: 0; 
  }

  .diseño-nomb-fotos .texto {
    text-align: left; 
  }

  .resaltador {
    background-color: #bb4747;
    font-weight: bold;
    color:#131111 ; 
  }

  /*Tabla*/
  .resaltador2{
    background-color: #bb4747 ;
  }

  table{
    background-color: #bb4747;
  }
/*-------------------------------------------------------------------*/
