
/*Index*/

body{
    background-color: #be7c7c;
}

header {
    background-color: #bb4747; /* Color de fondo del encabezado */
    padding: 20px; /* Espaciado interior del encabezado */
}

h1 i{
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Para centrar la lista horizontalmente */
    background-color:  #ff1e00; /* Color de fondo para la lista */
    border-radius: 5px; /* Añade bordes redondeados */
    padding: 10px; /* Espacio interno de la lista */
    display: flex; /* Cambia el comportamiento del contenedor a flexbox */
    justify-content: space-around; /* Centra los elementos horizontalmente */
}

/* Estilos para los elementos de la lista */
li {
    margin: 10px; /* Agrega un espacio entre los elementos */
    display: inline; /* Para que los elementos de la lista se muestren en línea */
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color:  #ff1e00;
    padding: 8px 16px; /* Añade espacio interno alrededor del texto del enlace */
    border: 2px solid  #ff1e00; /* Agrega un borde alrededor del enlace */
    border-radius: 5px; /* Añade bordes redondeados al borde */
}

/* Estilos para los enlaces cuando se pasa el ratón por encima */
a:hover {
    text-decoration: underline;
    background-color: #ff1e00; /* Cambia el color de fondo cuando se pasa el ratón por encima */
    color:  #131111; /* Cambia el color del texto cuando se pasa el ratón por encima */
}

article aside{
    background-color: #bb4747;
}

/*Diseño de imagenes*/

.contenedor-imagen-futbol {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 300px; /* Altura del contenedor, ajusta según sea necesario */
  }

  .contenedor-imagen-futbol img {
    width: 45%; /* Ancho de las imágenes */
    border-radius: 20px; /* Borde redondo */
  }

  .contenedor-imagen-futbol img {
    max-width: 100%; /* Para asegurar que la imagen se ajuste correctamente */
    max-height: 100%; /* Para asegurar que la imagen se ajuste correctamente */
  }

.contenedor-imagen {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre las imágenes */
    margin: 10px; /* Espacio entre el contenedor de imágenes y los bordes del navegador */
  }

  .contenedor-imagen img {
    width: 45%; /* Ancho de las imágenes */
    border-radius: 20px; /* Borde redondo */
  }

/*---------------------------------------------------------------------------------------------------*/