body {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "h h"
                         "m a"
                         "f a"
}
header {
    grid-area: h;
    background-color: #f3c7f5
}
.emote {
    height: 50px;
    width: auto;
}
main {
    grid-area: m;
    text-align: hover;
    margin-top: 50px; 

}
aside{
    grid-area: a;
    background-color: plum
}
footer {
    grid-area: f;

}

.titulo {
    text-align: center; 
    margin-top: 50px; 
}

.margen {
    margin-left: 70px; 
    margin-right: 210px;
}
.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu ul {
    list-style-type: none; 
    padding: 0; 
    margin: 25%; 
}

.menu ul li {
    margin-bottom: 75%; 
}

.menu ul li a {
    text-decoration: none; 
    color: #333; 
}

.menu ul li a:hover {
    color: #8f15e0; 
}