.opciones{
    display: flex;
    flex-flow: row nowrap;
    background-color: #660202;
    justify-content: space-evenly;
    align-items: center;

}

.opciones img {
    width: 40px;
    height: 40px;
}

.opciones a{
    color: white;
}

.opciones a[href$="html"]{
    padding: 29px 0px 30px;
}

.opciones div:hover{
    background-color: #7c0c0c;
}

.opciones a:hover{
    background-color: #7c0c0c;
}

figure > blockquote {
    background-color: burlywood;
}

