body {
    display: grid;
}


h1 {
    color:yellow;
    background-color: blue;
}

h2 {
    color:blue;
    background-color: yellow;
}

th {
    color:yellow;
    background-color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.div-3 {
    float:right;
    display: grid;
}

article > img {
    width: 500px;
    float:left;
    margin-left: 1em;
}

.Inicio {
    background-color: yellow;
    font-size: 20px;
}

nav li:hover {
    background-color: black;
}

nav ul {
    background-color:yellow;
    list-style-type: none;
    width: 100%;
    text-align: center;
    font-size: 20px;
}


nav li {
    display: inline-flex;
}



nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

