body{
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
    }

header{
    grid-area: header;
    background-color: #8e632b;
    border: 10px double #0c0c0c;
    text-align: center;
    margin: 0%;
}
main{
    grid-area: main;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 16px;
    background-image: url("https://i.pinimg.com/originals/17/b2/d4/17b2d439531065b4c4b490a9f20b4ee5.jpg");
}

main section li{
    list-style-type:"✨";
    padding: 10px;;
    text-align: left;
}

aside {
    grid-area: aside;
    background-color: #318c3c;
    border: 10px double #0c0c0c;
    display: flex;
    flex-direction: column; 
    align-items: center;
    }

    aside h2 {
    text-decoration: underline black 2px;
    color: #fff;
    margin: 5;
    padding: 10px;
    }
    
    aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    }
    
aside li {
    text-align: center;
    padding: 50px;
    }

    aside a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    }

    aside a:hover {
    background-color: #505050;
    }

footer{
    grid-area: footer;
    color: #030303;
    background-color: #3e72bb;
    border: 10px double #0c0c0c;
}

footer p{
    margin: 0px;
}

footer img{
    width: 20px;
    height: 20px;
    padding: 10px;
}