body{
    margin: 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
    }

header{
    grid-area: header;
    background-color: #505050;
    border: 10px double #0c0c0c;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
    background-color: #776240;
    border: 10px double #0c0c0c;
}

footer{
    grid-area: footer;
    background-color: #776240;
    border: 10px double #0c0c0c;
}