body {
    background-color: #BDB76B;
    display: grid;
    font-family: Helvetica;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "header header "
                         " main aside "
                         " footer footer "
}

header {
    display: flex;
    justify-content: center;
    grid-area: header;
    background-color: #808000;
    border: solid 2px black;
}

main {
    grid-area: main;
    background-color: #8FBC8B;
    border: solid 2px black;
}

aside {
    grid-area: aside;
    background-color: bisque;
    border: solid 2px black;
}

footer {
    grid-area: footer;
    background-color: #8B4513;
    color: black;
    border: solid 2px black;
}

nav ul {
    list-style-type: square;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    border-bottom: none;

}

nav ul li a{
    color: #8B4513;
    text-decoration: none;
}

nav ul li a:hover {
    color: 	#FF0000;
    text-decoration: solid;
}
